server:
  port: 8123
  servlet:
    context-path: /api
spring:
  application:
    name: picture-backend
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/lemon_picture
    username: root
    password: root

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

# http://localhost:8123/api/doc.html
knife4j:
  enable: true
  openapi:
    title:
    version: 1.0
    group:
      default:
        api-rule: package
        api-rule-resources:
          - com.lemon.pictruebackend.controller
