<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemon.pictruebackend.dal.UserMapper">

    <resultMap id="BaseResultMap" type="com.lemon.pictruebackend.model.domain.User">
            <!-- 主键ID -->
            <id property="id" column="id" />
            <!-- 用户账号 -->
            <result property="userAccount" column="user_account" />
            <!-- 用户密码（注意：生产环境应加密存储） -->
            <result property="userPassword" column="user_password" />
            <!-- 用户昵称 -->
            <result property="userName" column="user_name" />
            <!-- 用户头像 -->
            <result property="userAvatar" column="user_avatar" />
            <!-- 用户简介 -->
            <result property="userProfile" column="user_profile" />
            <!-- 用户角色 -->
            <result property="userRole" column="user_role" />
            <!-- 编辑时间 -->
            <result property="editTime" column="edit_time" jdbcType="TIMESTAMP" />
            <!-- 创建时间 -->
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
            <!-- 更新时间 -->
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
            <!-- 删除标识 -->
            <result property="deleted" column="deleted" jdbcType="INTEGER" />
    </resultMap>


    <sql id="Base_Column_List">
        id,user_account,user_password,user_name,user_avatar,user_profile,
        user_role,edit_time,create_time,update_time,deleted
    </sql>
</mapper>
